.space{
    height: 10vh;
}

.contact-us-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.contact-us-form-main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    margin-top: 2em;
}

.contact-title {
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.input-fname-cu,.input-lname-cu, .input-phone-cu, .input-email-cu {
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: rgb(211, 211, 211);
    box-shadow: none;
    border-style: solid;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 30px;
    width: 50%;
    transition: .24s ease-in-out;
}

.input-fname-cu:focus ,.input-phone-cu:focus ,.input-email-cu:focus,.input-lname-cu:focus {
    outline: none;
    border: 3px solid rgb(90, 139, 245);
    font-size: 17px;
    visibility: visible;
}

.text-area-cu {
    height: 150px;
    width: 50%;
    font-size: 20px;
    border-radius: 5px;
    border-color: rgb(211, 211, 211);
    box-shadow: none;
    border-style: solid;
    font-size: 16px;
    padding: 10px;
    resize: none;
    margin-top: 50px;
    transition: .24s ease-in-out;
}

.text-area-cu:focus {
    outline: none;
    border: 3px solid rgb(90, 139, 245);
    font-size: 17px;
    visibility: visible;
}

.send-btn {
    margin: 30px;
    background-color: rgb(0, 89, 255);
    border-radius: 5px;
    font-weight: 300;
    font-size: 20px;
    color: white;
    height: 40px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contact-p {
    margin: 20px;
    font-size: 20px;
}

.owners-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.rejection-msg {
    color: red;
}

@media screen and (max-width: 1100px){
    .input-fname-cu,.input-lname-cu, .input-phone-cu, .input-email-cu {
        width: 80%;
    }
    .text-area-cu {
        width: 80%;
    }

}

@media screen and (max-width: 464px){
    .input-fname-cu,.input-lname-cu, .input-phone-cu, .input-email-cu {
        width: 95%;
    }
    .text-area-cu {
        width: 95%;
    }

}


