
@import "~react-alice-carousel/lib/alice-carousel.css";

.space{
    height: 10vh;
}

.bg-pic {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
    transition: .3s filter ease-in-out;
}

.home-main{
    position: relative;
    height: 70vh;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.home-main h1{
    color: #ffffff;
    font-size: 4em;
    margin-left: 2%;
    margin-top: 20vh;
    text-shadow: -3px 5px 5px rgba(20, 20, 20, 0.3);
}

.home-main h3{
    font-size: 3em;
    color: #ffffff;
    margin-left: 8%;
    text-shadow: -3px 5px 5px rgba(20, 20, 20, 0.3);
}

.get-started-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: 100%;
}

.get-started-inner{
    grid-column-start: 2;
    height: 100%;
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
}

.date-selector{
    height: 0;
}

.date-selector-button{
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 287px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
    cursor: pointer;
    transition: .24s ease-in-out
}

.date-selector-picker-container{
    background-color: white;
    border: 1px solid black;
    border-top: none;
    z-index: 100;
}

.date-selector-title{
    background-color: #e63946;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    overflow-x: hidden;
    border-right: 1px solid black;
}

.date-selector-date{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-slide-show {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 600px;
}

.alice-carousel__prev-btn {
    position: absolute;
    bottom: 40px;
    right: 90%;
    width: 0px;
    transition: all .1s ease-in-out;
}

.alice-carousel__next-btn {
    position: absolute;
    bottom: 40px;
    left: 90%;
    width: 0px;
    transition: all .1s ease-in-out;
}

.alice-carousel__next-btn:hover{
    transform: scale(1.4);
}

.alice-carousel__prev-btn:hover{
    transform: scale(1.4);
}

.home-our-properties{
    font-size: 60px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgb(225, 240, 255);
    text-align: center;
    width: 100%;
}

img{
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-info-ad {
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 30px;
    text-align: center;
    width: 70%;
}

.get-started-btn{
    background-color: #e63946;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 10px 15px 10px 15px;
    overflow-x: hidden;
    border: 1px solid black;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
    cursor: pointer;
    transition: .24s ease-in-out;
}

.get-started-btn:hover{
    background-color: #ec3f4e;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1110px){
    .get-started-wrapper{
        grid-template-columns: 1fr 4fr;
    }

}

@media screen and (max-width: 921px){
    .get-started-wrapper{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .get-started-inner{
        display: flex;
        align-items: center;
    }

    .home-main h1{
        font-size: 3em;
    }

    .home-main h3{
        font-size: 2.3em;
    }

}

@media screen and (max-width: 750px){
    .get-started-inner{
        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (max-width: 445px){
    .home-main h1{
        text-align: center;
        margin-left: 0;
    }

    .home-main h3{
        text-align: center;
        margin-left: 0;
    }

}

@media screen and (max-width: 430px){
    .home-main h1{
        font-size: 2.5em;
    }

    .home-main h3{
        font-size: 2.3em;
    }

}

@media screen and (max-width: 360px){
    .home-main h1{
        font-size: 2em;
    }

    .home-main h3{
        font-size: 1.8em;
    }

}


@media screen and (max-width: 300px){
    body{
        display: none;
    }

}






