.space{
    height: 10vh;
}
.properties-main-container{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.properties-title {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size:30px;
}

.properties-searchbar {
    display: flex;
    flex-direction: row;
    width:80%;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.properties-select {
    width:100%;
}
.properties-searchbar-container {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   text-align: center;
   position: relative;
}

.properties-cards-container {
    width: 100%;
}

.properties-search-by-date{
    font-size: 3em;
    color: dodgerblue;
    min-width: 400px;
    overflow: hidden;
    text-align: center;
}

.calender-select-wrapper{
    overflow-y: hidden;
    height: 100%;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow:  0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2);
    padding: 10px;
}
.calender-flex-wrapper{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.calender-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picker-wrapper-2{
    border: 1px solid lightgray;
    border-radius: 10px;
}

.calender-select-wrapper .title{
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px 0 10px 0;
    text-align: center;
}

.calender-select-wrapper .sub-title{
    padding: 5px 0 5px 0;
    color: lightgray;
}

@media screen and (max-width: 840px){
    .properties-searchbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    .calender-flex-wrapper{
        flex-direction: column;
    }
    .calender-select-wrapper{
        overflow: auto;
    }

}

@media screen and (max-width: 430px){
    .properties-searchbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    .properties-searchbar{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }
    .properties-search-by-date{
        font-size: 2em;
    }
    .properties-title{
        text-align: center;
    }

}

