.login-page-container {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
    padding: 5em;
}

.login-page-main {
    background-color: white;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
