
.space{
    height: 10vh;
}

.temp {
    height: 1000px;
    background-color: beige;
    width: 100%;
}

.unit-about {
    padding: 50px;
    background-color: rgb(225, 240, 255);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
}

.about-text-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.about-text {
    text-align: center;
    width: 70%;
}

.unit-title{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: xxx-large;
    text-align: center;
}

.unit-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}


.unit-pic-slide-show {
    height: 550px;
    width:100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.slide {
    object-fit: contain;
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 1;
}

.about-specs-container {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 20px;
    text-align: center;
}

.specs-title {
    font-size: 30px;
    padding-bottom: 30px;
}

.unit-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.inq-form-container {
    width: 100%;
}

.form-title {
    font-size: 30px;
    padding: 30px;
}

.select-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 10px;
}

.form-item{
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.input-breed,.input-first,.input-last,.input-phone,.input-email,.input-pass,.input-user {
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: rgb(211, 211, 211);
    box-shadow: none;
    border-style: solid;
    font-size: 16px;
    padding-left: 10px;
    transition: .24s ease-in-out;
}

.comments {
    padding-bottom: 20px;
}

.input-breed:focus ,.input-first:focus ,.input-last:focus ,.input-phone:focus ,.input-email:focus,.input-pass:focus,.input-user:focus {
    outline: none;
    border: 3px solid rgb(90, 139, 245);
    font-size: 17px;
    visibility: visible;
}

.calender-container {
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 4%;
    background-color: white;
    z-index: 8;
}

.rejection-msg {
    color: red;
}

.accepted-msg-container {
    position: fixed;
    z-index: 100;
    background-color: rgb(0, 233, 31);
    width:100%;
    top: 10vh;
    right: 0px;
    text-align: center;
    font-size: 2em;
}

.rejected-msg-container {
    color: rgb(2, 4, 82);
    position: fixed;
    z-index: 100;
    background-color: rgb(248, 0, 0);
    border: 2px solid  rgb(248, 0, 0);
    width:100%;
    top: 10vh;
    right: 0px;
    text-align: center;
    font-size: 2em;
}

.unit-form-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    
}

.unit-about-text{
    white-space: pre-wrap;
    width: 70%;
}

.contact-us-grid-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 200px;
    width: 95%;
}

.text-area-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text-area {
    height: 70%;
    width: 90%;
    font-size: 20px;
    border-radius: 5px;
    border-color: rgb(211, 211, 211);
    box-shadow: none;
    border-style: solid;
    font-size: 16px;
    padding: 10px;
    resize: none;
    transition: .24s ease-in-out;
}

.contact-us-grid-wrapper{
    display: flex;
    justify-content: center;
}

.text-area:focus {
    outline: none;
    border: 3px solid rgb(90, 139, 245);
    font-size: 17px;
    visibility: visible;
}

.unit-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    width: 100%;
    height: 100%;
}

.unit-price-container{
    height: 100%;
    width: 100%;
    grid-area: 1/2/3/2;
    /*border: 1px solid black;*/
}

.unit-price-inner{
    border: 1px solid lightgray;
    box-shadow:  0px 2px 5px 0px rgba(0,0,0,0.14) , 0px 1px 10px 0px rgba(0,0,0,0.12) , 0px 2px 4px -1px rgba(0,0,0,0.2) ;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    min-width: 300px;
    max-width: 500px;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.unit-price-inner .val{
    justify-self: end;
}

.checkin-out-container{
    border: 1px solid lightgray;
    border-radius: inherit;
    display: grid;
    padding: 10px;
    min-width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(241, 241, 241);
    margin-top: 10px;
    margin-bottom: 5px;
}

.prices-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.total-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    border-top: 1px dotted gray;
    justify-self: center;
    padding: 20px 0 20px 0;
}

.checkin-out-container .title, .prices-main .title, .total-div .title{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.1em;
}

.total-div .title{
    font-size: 1.2em;
}

.total-div .val{
    color: rgb(0, 165, 0);
    font-weight: bold;
    font-size: 1.1em;
}

.unit-send-btn {
    margin: 30px;
    background-color: rgb(0, 89, 255);
    border-radius: 5px;
    font-weight: 300;
    font-size: 20px;
    color: white;
    height: 40px;
    width: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#unit-link-for-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px){

    .text-area{
        width: 90%;
    }
    
}

@media screen and (max-width: 900px){

    .contact-us-grid-layout{
        grid-template-rows: 300px 450px 100px;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .unit-price-inner{
        margin-left: 0;
    }

    .text-area-container{
        grid-area: 1/1/1/1;
    }

    .unit-price-container{
        grid-area: 2/1/2/1;
        display: flex;
        justify-content: center;
    }

    .unit-btn-container{
        grid-area: 3/1/3/1;
    }

    .unit-about-text{
        width: 100%
    }
    .select-row-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .form-item{
        width: 100%;
    }
    .price-item{
        display: none;
    }
    .mobile-price-icon {
        display: initial;
        height: 30px;
        width: 30px;
        position: sticky;
        right: 20px;
        top: 10vh;
        transition: 800ms ease-in-out;
        z-index: 11;
        pointer-events: initial;
    }
    .price-item-container-mobile{
        position: absolute;
        height: 2000px;
        left: 90%;
        top: 10px;
        pointer-events: none;
    }
    .mobile-price-icon:hover{
        transform: scale(1.3);
    }   
    .price-item-mobile{
        display: initial;
        position: absolute;
        z-index: 10;
        background-color: white;
        width: 100%;
        transform: translateX(500px);
        transition: 800ms ease-in-out;
        border: 1px solid lightgray;
    }
    .text-area{
        width: 100%;
    }
    .price-item:hover{
        opacity: 1;
    }
    .give-pos-abs{
        position: relative;
        height: 100px;
    }
    .overflow-container{
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: absolute;
        pointer-events: none;
    }
    
}

@media screen and (max-width: 430px){
    .unit-about-text{
        font-size: .9em;
    }
   
    
}