.dashboard-display-main {
    border: 2px solid rgb(170, 170, 170);
    width: 100%;
    border-radius: 2vh;
    background-color: rgb(230, 227, 227);
    padding: 1vh 1vh 1vh 1vh;
    position: static;
}

.dashboard-notification {
    min-height: 3em;
    border: 2px solid rgb(92, 212, 228);
    background-color: white;
    border-radius: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.notification-acceptance-form {
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    overflow: hidden;
    width: 50%;
    z-index: 20;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
    box-shadow:  4px 3px 8px 1px #969696;
    border: 1px solid black;
    padding: 1em;
    height: 20em;
    min-width: 32em;
}

.acceptance-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}

.acceptance-options-inner {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5em;
}

.acc-op-in-cont{
    display: flex;
    justify-content: flex-start;
}

.submit-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.acceptance-options-inner p{
    width: 170px;
    overflow: hidden;
    height: 2em;
}

.acceptance-date-change-btn {
    background-color: rgb(152, 152, 255);
    border: 1px solid gray;
    border-radius: 1em;
    font-size: .9em;
    padding: .3em;
    color: white;
}

.acceptance-calender {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    margin-left: 70em;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
    box-shadow:  4px 3px 8px 1px #969696;
    padding: 1em;
    z-index: 10;
}

.acceptance-price-container {
    position: absolute;
    margin-left: 53%;
    margin-top: -2.2%;
    z-index: 30;
    min-width: 15em;
    max-width: 15em;
    opacity: .3;
}
.acceptance-price-container:hover {
    opacity: .9;
}

.acceptance-date-change-btn:hover {
    cursor: pointer;
}

.notification-unselected {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}

.notification-selected {
    background-color: rgb(251, 253, 253);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: visible;
    width: 100%;
    border-radius: 3vh;
    padding: 1em;
    margin-top: 1em;
    position: relative;
}

.notification-selected-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    flex: 1;
    width: 100%;
}

.notification-selected-middle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    flex: 7;
    width: 100%;
}

.notification-selected-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex: 2;
    width: 100%;
    position: relative;
}

.notification-comments {
    min-height: 21em;
    max-height: 25em;
    flex: 1;
    background-color: white;
    border-radius: 3em;
    border: 1px solid gray;
    padding: 1em;
    overflow: auto;
}

.notification-calender {
    min-height: 21em;
    max-height: 25em;
    flex: 1;
    margin: 1vh 1vh 1vh 1vh;
    background-color: white;
    border-radius: 3em;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dashboard-notification-icon {
    flex: 1;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
}

.dashboard-notification-id {
    flex: 1;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
}

.dashboard-notification-unitname{
    flex: 4;
    border-right: 1px solid gray;
    padding-left: 1vw;
}

.dashboard-notification-price{
    flex: 2;
    border-right: 1px solid gray;
    padding-left: 1vw;
}

.dashboard-notification-name{
    flex: 5;
    border-right: 1px solid gray;
    padding-left: 1vw;
}

.dashboard-notification-date{
    flex: 5;
    padding-left: 1vw;
}

.dashboard-no-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.notification-selected {

}

.notification-rejection-confirmation {
    position: absolute;
    z-index: 10;
    background-color: white;
    border: 1px solid black;
    border-radius: .3vw;
    padding: .1vw;
    text-align: center;
    left: 20px;
    display: flex;
    align-items: center;
    width: 40%;
}

.notifications-action-icon:hover {
    cursor: pointer;
}

.dashboard-sort-row {
    display: flex;
    width: 50%;
}

.notification-comment-input {
    width: 100%;
    height: 15vh;
    resize: none;
    padding: .5vw;
    font-size: 1.01em;
}