.notification-comments-messages {
    min-height: 21em;
    max-height: 25em;
    background-color: white;
    border-radius: 3em;
    border: 1px solid gray;
    padding: 1em;
    overflow: auto;
    width: 50%;
}

.notification-selected-middle-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    flex: 7;
    width: 100%;
}