.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.editable-unit-main {
    width: 100%;
    padding: 1em;
    border: 3px solid black;
    border-radius: 1em;
    background-color: rgb(248, 248, 248);
}

.editable-unit-main-item{
    width: 100%;
}