.navbar {
    position: fixed;
    background-color: #ffffff;
    height: 10vh;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    z-index: 30;
    opacity: .8;
  }

  .navbar-title {
    text-decoration: none;
    color: #73b2d6;
    font-size: 30px;
    flex: 1;
    margin-left: 10px;
  }

  .nav-ul {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-link {
    text-decoration: none;
    color: #0a2535;
  }

  @media screen and (max-width: 700px){
    .navbar-title{
      display: none;
    }

  }

  @media screen and (max-width: 350px){
    .nav-ul li {
      font-size: .9em;
    }

  }
