.unit-view-main {
    padding: 1em;
    margin: .5em;
    border: 1px solid black;
    border-radius: 1em;
    width: 100%;
    overflow: auto;
}

.unit-view-title {
    font-size: 1.5em;
    font-weight: 800;
    border-bottom: 1px solid black;
}

.unit-view-main-container {
    
}

.editable-unit-container {
    background-color: rgb(228, 228, 228);
    border-radius: 1em;
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    min-height: 1vh;
}

.editable-unit-container-inner {
    overflow: hidden;
}

.editable-unit-container-upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
