.dashboard-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.dashboard-header {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-box-shadow: 4px 3px 8px 1px #3d3c3c;
    box-shadow:  4px 3px 8px 1px #3b3b3b;
    background-color: rgb(255, 252, 248);
    border-radius: 25px;
    margin: 5vh;
    padding: 2vh;
}

.dashboard-user-id {
    flex: 8;
}

.dashboard-reservation-icon {
    flex: 1;
    position: relative;
}

.dashboard-messages-icon {
    flex: 1;
    position: relative;
}

.dashboard-settings-icon{
    flex: 1;
}

.dashboard-header-icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.dashboard-name {
    font-size: 1.2em;
}

.dashboard-main-display {
    min-width: 98%;
    max-width: 98%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    -webkit-box-shadow: 4px 3px 8px 1px #3d3c3c;
    box-shadow:  4px 3px 8px 1px #3b3b3b;
    background-color: rgb(255, 252, 248);
    border-radius: 25px;
    margin: 0vh 5vh 5vh 5vh;
    padding: 2vh;
    min-height: 70vh;
    max-height: 70vh;
    overflow: auto;
}

.dashboard-lower-menu {
    flex:1;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 4px 3px 8px 1px #3d3c3c;
    box-shadow:  4px 3px 8px 1px #3b3b3b;
    background-color: rgb(255, 252, 248);
    border-radius: 25px;
    margin: 0vh 5vh 8vh 5vh;
    padding: 2vh;
    min-height: 70vh;
    max-height: 80vh;
    min-width: 98%;
    max-width: 98%;
}

.unread-notification-symbol {
    position: absolute;
    top: -10px;
    left: 18px;
    color: white;
    background-color: red;
    border: 1px solid red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
    padding-left: .6em;
    padding-right: .6em;
    font-size: .8em;
}

@media screen and (max-width: 1500px){
    .dashboard-main{
        display: none;
    }

}
