.slideshow-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    max-height: 600px;
    min-height: 600px;
    overflow: hidden;
}

.slide-show-container{
    width: 100%;
}

.slideshow-image{
    border-radius: 10px;
}

.slideshow-wrapper{
    margin-bottom: 20px;
}

.arrow-container{
    width: 100%;
    position: relative;
    height: 30px;
}

.arrow-container .arrow {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -300px;
    cursor: pointer;
    transition: .24s ease-in-out;
}

.arrow-container2 .arrow {
    height: 40px;
    width: 40px;
    position: absolute;
    cursor: pointer;
    transition: .24s ease-in-out;
    bottom: -10px;
}

.arrow-container .arrow:hover,.arrow-container2 .arrow:hover{
    color: rgb(73, 73, 73);
    transform: scale(1.2);
}

.arrow-container #left{
    left: 10%;
}

.arrow-container #right{
    right: 10%;
}

.arrow-container2 #left{
    left: 10%;
}

.arrow-container2 #right{
    right: 10%;
}

.form-title{
    text-align: center;
}

@media screen and (max-width: 1000px){
    .arrow-container .arrow {
        top: -20px;
    }
    
}

@media screen and (max-width: 620px){
    .slideshow-item{
        min-height: 300px;
    }
    
}



