

.unit-card-container {
    display: flex;
    overflow: hidden;
    height: 50vh;
    min-height: 440px;
    width: 100%;
    margin-top: 10px;
}

#unit-link-for-pic{
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
}

.unit-card-pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    max-width: 600px;
    height: 90%;
    width: 90%;
}

.unit-card-pic-img {
    object-fit: cover;
    border-radius: 3%; 
    
}

.unit-card-text-side  {
    flex: 1;
    display: flex;
}

.unit-card-graphic-side{
    flex: 1;
    overflow: hidden;
    min-height: 400px;
}

.loader-pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    height: 100%;
    width: 100%;
}

.unit-card-city{
    text-align: center;
}

.unit-card-text-body {
    height: 80%;
    width: 90%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 40px;
    position: relative;
    padding: 0 10px 0 10px;
}

.unit-card-desc{
    width: 80%;
    margin-top: 30px;
    margin-left: 10px;
    color: rgb(87, 87, 87);
}

.unit-card-title-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 600;
}

.rules-specs-container {
    height: 80%;
    width: 80%;
    min-height: 250px;
    display: grid;
    grid-template-columns: 1f 1fr;
    grid-template-rows: 1fr 1fr;
}

.rules-specs-container p {
    margin-left: 10px;
}

.unit-card-ammenities-col,.unit-card-rules-col {
    padding-top: 10px;
    min-width: 400px;
}

.unit-card-inner-title {
    font-size: 1.2em;
    font-weight: 700;
    border-bottom: .15em solid gray;
    margin: 10px;
    width: 50%;
}

.unit-link {
    text-decoration: none;
    color: black;
    transition: .24s ease-in-out;
}

.unit-link:hover {
    color: rgb(126, 227, 245);
    text-decoration: underline;
}

.icon-display{
    display: grid;
    grid-auto-columns: 50px;
    grid-auto-rows: 50px;
    margin-top: 20px;
    gap: 10px;
    grid-auto-flow: column;
    justify-self: flex-end;
}

.icon-display-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.icon-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icon-container p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: rgb(116, 116, 116);
}

.display-icon{
    height: 30px;
    width: 30px;
}

.unit-card-price{
    color: rgb(66, 66, 66);
    font-weight: 100;
}


@media screen and (max-width: 1080px){
    .unit-card-container{
        flex-direction: column;
        min-height: 800px;
    }
    .unit-card-text-side{
        margin-top: 10px;
        justify-content: center;
    }
    .unit-card-text-body{
        margin-left: 0;
    }

}

@media screen and (max-width: 680px){
    .unit-card-desc{
        width: 90%;
        columns: 2;
        margin-top: 10px;
    }
    .unit-card-container{
        min-height: 800px;
    }
    .unit-card-title-row{
        flex-direction: column;
    }

}

@media screen and (max-width: 600px){
    .unit-card-desc{
        columns: unset;
        font-size: .95em;
    }
    .unit-card-title, .unit-card-price{
        font-size: .8em;
    }
    .unit-card-container{
        min-height: 620px;
    }
    .icon-display-wrapper{
        height: 50px;
        position: absolute;
        pointer-events: none;
    }
    .icon-display{
        pointer-events: all;
        position: absolute;
        grid-auto-flow: row;
        grid-template-columns: 40px 40px 40px 40px;
        grid-template-rows: 40px 40px;
        bottom: -20px;
        gap: 0px;
        right: 0px;
    }
    .display-icon{
        height: 20px;
        width: 20px;
    }

}

@media screen and (max-width: 525px){

    .icon-display-wrapper{
        height: 100%;
    }

    .unit-card-container{
        margin-bottom: 20px;
    }
    .unit-card-container{
        min-height: 620px;
    }

    .icon-display{
        position: absolute;
        grid-auto-flow: column;
        grid-template-columns: unset;
        grid-template-rows: unset;
        grid-auto-columns: 40px;
        bottom: -40px;
        gap: 0px;
        left: 0px;
    }

}

@media screen and (max-width: 360px){

    .unit-card-container{
        min-height: 590px;
    }

    .icon-display-wrapper{
        display: none;
        
    }
    .unit-card-desc{
        overflow-y: auto;
    }
    .unit-card-text-body{
        height: 95%;
    }

}




