.user-settings-main {
    border: 2px solid rgb(170, 170, 170);
    width: 100%;
    border-radius: 2vh;
    background-color: rgb(230, 227, 227);
    padding: 1vh 1vh 1vh 1vh;
    position: static;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}

.user-settings-inner {
    min-height: 10em;
    border: 2px solid rgb(92, 212, 228);
    background-color: white;
    border-radius: 3vh;
    margin: 1em 1em 1em 1em;
    padding: 1vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    flex: 1;
}

.user-inner-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-log-out {
    border: 1px solid gray;
    background-color: rgb(89, 89, 250);
    border-radius: 1em;
    padding: .3em;
    color: white;
    margin-top: 1em;
    cursor: pointer;
}